.presentation__title {
  width: 45%;
  z-index: 1;
  margin-left: 30px;
  font-family: Whitney, 'Arial', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 120%;
  color: #FFFFFF;
}

@media (max-width: 880px) {
  .presentation__title {
    font-size: 30px;
  }
}